<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title%}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'samerhome' %}">Snacks_Home</a></li>
                <li>
                    <a href="{% url 'samerabout' %}">Samer_about</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">about</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block h2 %}
        {% endblock h2 %}
    </main>
    <footer>
        <h4>Django @ 2020</h4>
    </footer>

</body>

</html>